{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock head_title %}

{% block content %}

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
          <div class="card shadow-lg">
              <div class="card-header text-center card-header-custom py-3">
                  <h1 class="card-title">{% trans "Log Out" %}</h1>
              </div>
              <div class="card-body p-5">
                <p class="mb-4 text-center">{% trans 'Are you sure you want to logout?' %}</p>
                <form class="logout" method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-signup mt-3" type="submit">{% trans 'Log Out' %}</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}
