{% load static %}

<footer class="social mt-auto py-3">
    <p class="m-0 text-center text-white">© Bhagyashri Patil 2024</p>
    <p class="m-0 text-center text-white">Let's Connect:</p>
    <a href="https://github.com/bhagyashriyogeshpatil" id="github" target="_blank" rel="noopener" aria-label="Visit my GitHub repository (opens in a new tab)">
        <i class="fab fa-github social-links"></i></a>
    <a href="https://www.linkedin.com/in/bhagyashri-patil-69636b12b" id="linkedin" target="_blank" rel="noopener" 
        aria-label="Visit my LinkedIn profile (opens in a new tab)">
        <i class="fab fa-linkedin social-links"></i>
    </a>
</footer>