{% extends "base.html" %}

{% block content %}
<div class="hero-bg d-flex align-items-center">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="info-box p-4 shadow-custom">
          <h1 class="custom-display">Welcome to Flavor Fusion!</h1>
          <p class="custom-lead">
            Dive into a world where every recipe tells a story and every dish brings cultures together. Whether you're a
            seasoned chef or a culinary newbie, we have something special for you.
          </p>
          <a href="#" class="btn custom-btn mb-2">Signup Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}