/* Remove default values */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --background: #F7F7F7;
    --dark-green: #071B01; 
    --olive-green: #575C0E;
    --light-cream: #F7F5EF; 
    --yellow: #E6AB3F; 
    --black: #010201; 
    --harvest-gold: #D69723; 
    --goldenrod : #D59C2C;
    --slate-gray: #6C7A89;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
    color: var(--dark-green);
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 500;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display SC', sans-serif;
    color: var(--harvest-gold);
}

/* Header */
/* Navigation bar */
.navbar {
    box-shadow:  1px -1px 8px 0 var(--harvest-gold);
}

a.nav-link {
    color: var(--dark-green); 
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

.navbar-nav .nav-link:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
    animation: circle 1.5s ease-in forwards;
}

/* Keyframes */
@keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
}

img.logo {
    width: 12rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img.logo:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

img.logo:active {
    transform: scale(1.05); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    opacity: 0.9; 
}

.btn-custom {
    color: var(--dark-green);
    border-color: var(--yellow);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.btn-custom:hover {
    color: #fff;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active {
    color: #fff;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btn-custom:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 171, 63, 0.5);
}

.form-control {
    color: var(--dark-green);
    border-color: var(--yellow);
}

.form-control:focus {
    color: var(--dark-green);
    border-color: var(--yellow);
    box-shadow: 0 0 0 0.2rem rgba(230, 171, 63, 0.5);
}

.form-control::placeholder {
    color: var(--dark-green);
}


/* Footer */
footer {
    flex-shrink: 0;
    text-align: center;
    box-shadow: 1px -1px 8px 0 var(--harvest-gold);
    background-color: var(--olive-green);
    padding: 10px;
} 

footer p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--light-cream);
    font-weight: 450;
    margin-bottom: 0;
}
    
footer > a {
    margin-right: 30px; 
    font-size: 1.5rem; 
    color: var(--light-cream); 
}

.social-links:hover {
    color: var(--light-cream);
    font-weight: bold;
    transform: scale(1.5);
}

.social-links {
    transition: all 0.3s linear;
}

/* Index Page */
/* Hero image */
.hero-bg {
    height: 100vh;
    width: 100%;
    background-image: url("https://res.cloudinary.com/dssflljmx/image/upload/t_background-img/v1722097011/1000_F_882600666_fp2GaVSJdganljgFk1LFOqxqxOfmi9m0_ah3l25.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.info-box {
    background-color: var(--olive-green);
    border-radius: 10px;
}

.custom-display {
    font-size: 2.5rem; 
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}

.custom-lead {
    line-height: 1.5;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem; 
}

.custom-btn {
    border: none;
    border-radius: 5px;
    background-color: var(--yellow); 
    border-color: var(--yellow);
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    width: 35%; 
    text-decoration: none;
    font-size: 1.25rem; 
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.custom-btn:hover {
    color: #fff;
    background-color: var(--goldenrod);
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(230, 171, 63, 0.5);
}

.custom-btn:focus {
    color: #fff;
    /* outline: 1px solid var(--olive-green);
    outline-offset: 1px;  */
    background-color: var(--goldenrod);
    box-shadow: 0 0 0 2px rgba(230, 171, 63, 0.5);
}

.custom-btn:active {
    color: #fff;
    background-color: #c5931a;
    box-shadow: 0 2px 4px rgba(230, 171, 63, 0.5);
    transform: translateY(2px);
}

.shadow-custom {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5); 
}

/* Signup Form */
.card-header-custom {
    background-color: var(--olive-green);
    color: var(--light-cream);
}

.btn-signup {
    background-color: var(--goldenrod);
    border-color: var(--yellow);
    color: var(--light-cream);
    width: 90%; 
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.btn-signup:hover {
    color: #fff;
    background-color: var(--goldenrod);
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(230, 171, 63, 0.5);
}

.btn-signup:focus {
    color: #fff;
    outline: 1px solid var(--olive-green);
    outline-offset: 1px; 
    background-color: var(--goldenrod);
    box-shadow: 0 0 0 2px rgba(230, 171, 63, 0.5);
}

.btn-signup:active, 
.btn-signup.active {
    color: #fff;
    background-color: #c5931a;
    box-shadow: 0 2px 4px rgba(230, 171, 63, 0.5);
    transform: translateY(2px);
}

.sign-up-link, 
.login-link {
    color: var(--harvest-gold);
    text-decoration: none;
}

.sign-up-link:hover, 
.login-link:hover {
    text-decoration: underline;
}

.login,
.signup { 
    margin: 0 auto; 
    max-width: 450px;
    padding: 20px; 
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}

.login input[type="text"],
.login input[type="password"],
.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 1rem; 
    border: 1px solid var(--slate-gray); 
    border-radius: 5px; 
}

/* Recipe List */
.card-body .custom-btn {
    width: 50%;
}

.recipe-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.custom-card-title {
    font-size: 1.75rem; 
}

.custom-card-text {
    font-size: 1rem; 
}

.custom-card-date {
    font-size: 0.75rem; 
}

/* Pagination*/
.page-link {
    text-decoration: none;
    color: #fff;
    background-color: var(--yellow);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.page-link:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--goldenrod);
    box-shadow: 0 4px 8px rgba(230, 171, 63, 0.5);
}

.page-link:focus {
    color:  var(--dark-green);
    box-shadow: 0 4px 8px rgba(230, 171, 63, 0.5);
}

/* Recipe details */
.image {
    width: 100%;
    height: auto;
}

.recipe-detail {
    overflow-wrap: break-word;
}

.ingredients, .instructions {
    font-family: 'Lato', sans-serif;;
}

#edit-button, #delete-button {
    width: 25%;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767.98px) {
    .custom-btn {
        width: 80%; 
        font-size: 1rem;
    }
}